@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* background-color: rgb(15, 22, 36); */
    background-color: black;
    color: white;
    font-family: mulish, sans-serif;
}

html, body {
    overflow-x: hidden;
}